@model Webservice.ProductService.ProductDTO
@{
    ViewBag.Title = "Detail";
}

@section css{
    <link href="~/Content/_bundle/_css_bundle/productDetail.min.css" rel="stylesheet" />
}
@{
    var img_url = "/Content/src/Image/" + Model.Thumb;
}
<div class="grid-container">
    <div class="grid-item1">
        <img src="@img_url" alt="@Model.Name" />
    </div>
    <div class="grid-item2">
        <div class="header-info">
            <div>
                <div class="product-brand">Thương hiệu: ....</div>
            </div>
            <div class="product-name">
                <div id="name">@Model.Name</div>
            </div>
            <div>
                <div style="line-height: 24px; color: rgb(120, 120, 120)">|| Đã bán 1000+</div>
            </div>

        </div>
        <div class="body-info">
            <div class="body-info-item" id="body-info-item1">
                <div class="price-and-icon">
                    <div class="product-price">
                        <span id="price">@string.Format("{0:0,0.000}", @Model.Price) <span style="text-decoration: underline">đ</span></span>
                    </div>
                    <div class="product-icon">
                        <div class="icon-content">
                            Tiki card: Hoàn tiền 15% tối đa 600k/tháng
                        </div>
                        <div class="icon-content">
                            FREESHIP: Không giới hạn, tự động áp dụng
                        </div>
                    </div>
                </div>
                <div class="product-option">
                </div>
                <hr />
                <div class="note-for-customer">
                    Ban hãy <span style="font-weight: bold; color:blue">NHẬP ĐỊA CHỈ</span> nhận hàng để được báo thời gian và chi phí giao hàng một cách chính xác nhất
                </div>
                <hr />
                <div class="quantity-input">
                    <p class="quantity-label">Số lượng</p>
                    <div class="group-input">
                        <button class="btn-change-value" id="btn-decrease">
                            <img class="img-change-value" src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-remove.svg" alt="Alternate Text" />
                        </button>
                        <input id="inputValue" type="number" value="1" />
                        <button class="btn-change-value" id="btn-increase">
                            <img class="img-change-value" src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-add.svg" alt="Alternate Text" />
                        </button>
                    </div>
                    <div>
                        <button class="buy-btn">Chọn mua</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/_bundle/_js_bundle/productDetail.min.js"></script>
}