@model MVCAppVer1.Models.Product
@{
    ViewBag.Title = "Detail";
    @Styles.Render("~/Content/productDetailCSS/productDetail.css")
}
 
<div class="grid-container">
    <div class="grid-item1">
        <img src="@Model.url" alt="@Model.Name" />
    </div>
    <div class="grid-item2">
        <div>
            <div class="product-name">
                <span id="name">@Model.Name</span>
            </div>
            <div class="product-price">
                <span id="price">@string.Format("{0:0.0.000}", @Model.price) <span style="text-decoration: underline">đ</span></span>
            </div>
            
            <div>
                <button>Chọn mua nef</button>
            </div>
        </div>
    </div>
</div>
