@model MVCAppVer1.Models.Product
@{
    ViewBag.Title = "Detail";
    @Styles.Render("~/Content/productDetailCSS/productDetail.css")
}


<div class="grid-container">
    <div class="grid-item1">
        <img src="@Model.url" alt="@Model.Name" />
    </div>
    <div class="grid-item2">
        <div>
            <div class="product-name">
                <span >@Model.Name</span>
            </div>
            <div class="product-price">
                <span>@string.Format("{0:0.000}", @Model.price) <span style="text-decoration: underline">đ</span></span>
            </div>
            
        </div>
    </div>
</div>
